<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Dear, <%= @to_name %></h1>
    <p><% if @userobj %>
          <%= link_to @userobj.nickname,@user_url %>
       <% end %>
      <%= @from_name %> Has send you an ad with url <%= @url %>. Please check it out.
    </p>
    <% if !@email_message.blank? %>
    Additional message: <%= format_tarea  @email_message %>
    <% end %>
  </body>
</html>